<p>{{check ? 'update' : 'add '}} content</p>


<div>
    name: <input #title value="{{data?.title}}">
</div>
<div>
    body: <input #body value="{{data?.body}}">
</div>

<div>
    imageLink: <input #imageLink value="{{data?.imageLink}}">
</div>
<div>
    author: <input #author value="{{data?.author}}">
</div>
<div>
    hashtags: <input #hashtags value="{{data?.hashtags}}">
</div>
<div>
    type: <input #type value="{{data?.type}}">
</div>


<div>
    <button (click)="addContent(title.value,body.value, imageLink.value,author.value, hashtags.value,type.value );body.value='';title.value = '';imageLink.value = '';author.value = ''; hashtags.value = '';type.value = ''">{{check ? 'update' : 'add '}}  content Item</button>
</div>