<app-content-card *ngFor="let card of contentArray; even as isEven" [content]="card" [isEven]="isEven" style="color: yellow;
"></app-content-card>

<app-content-card *ngFor="let card of (contentArray | filter);"
[content]="card" style="color: green;
background: pink;" ></app-content-card>

  
  <app-content-card *ngFor="let card of (contentArray | filter: 'type2');"
                    [content]="card" style="color: red;
                    background: pink;"></app-content-card>
  
                    <app-content-card *ngFor="let card of (contentArray | filter: '');"
                    [content]="card" style="color: blue;
                    background: pink;" ></app-content-card>
  

